<header class="bg-black text-gray-50 py-4 sticky inset-0">
  <nav class="max-w-2xl mx-auto text-lg space-x-6">
    <img src="/images/logo.png" alt="logo" class="w-12 h-12 rounded-full">
    <!-- pages having `tags: page` in their front matter will be listed here -->
    {% for item in collections.page %}
    <a href="{{ item.url }}" {% if item.url==page.url %} aria-current='page' data-state='active' {% endif %}
      class="hover:text-sky-400">{{ item.data.title }}</a>
    {% endfor %}
  </nav>
</header>
