---
layout: base
title: Home
tags: page
order: 1
---

What is fast?

A smol stack application building "framework" that uses [htmx](https://htmx.org/) and [tailwindcss](https://tailwindcss.com/) to build fast, responsive, and accessible web applications.

No javascript is rendered on the front end. All javascript is rendered on the server, and sent to the client as HTML.

A way to test the capabilites of htmx, we need a design and development environment with hot reloading, and a way to deploy to a server.

The fun in not minimizing your html. View source. It's all there clean as a whistle.
