<!-- base template -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{{ '/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/custom.css' | url }}">

  <title>{{site.name}}{% if title %} - {{title}} {% endif %} </title>
  <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    " />
</head>

<body>

  {% include "../_components/navigation.njk" %}

  {% include "../_components/ad.njk" %}

  <main class="max-w-3xl mx-auto py-12 min-h-screen">
    {% block content %}

    {{content | safe}}
    {% endblock %}
  </main>

  {% include "../_components/footer.njk" %}
</body>

</html>
